<h4>Antoine Equation</h4>
<div>
  <p>
    The Antoine Equation will have brief description which will go here. Eventually! But the formula for the equation is:
    $$\log_{10} (P) = A - \frac{B}{T+C}$$
  </p>
  <p>
    {{antoineMessage}}
  </p>
</div>
<div>
  <hr>
  <uib-accordion>
    <uib-accordion-group heading="Calculate">
      <form name="inputForm">
        <div class="input-group">
          <span class="input-group-addon">A</span>
          <input type="number" class="form-control" ng-model="antoineForm.inputA" placeholder="A" required/>
        </div>
        <div class="input-group">
          <span class="input-group-addon">B</span>
          <input type="number" class="form-control" ng-model="antoineForm.inputB" placeholder="B" required/>
        </div>
        <div class="input-group">
          <span class="input-group-addon">C</span>
          <input type="number" class="form-control" ng-model="antoineForm.inputC" placeholder="C" required/>
        </div>
        <div class="input-group">
          <span class="input-group-addon">T</span>
          <input type="number" class="form-control" ng-model="antoineForm.inputT" placeholder="T" required/>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="submitAntoine()" ng-disabled="inputForm.$invalid">Submit</button>
          <button type="button" class="btn btn-default" ng-click="resetInputs()">Reset</button>
          <div ng-show="showResult">
            P = {{outputP}}
          </div>
        </div>
      </form>
    </uib-accordion-group>
  </uib-accordion>
</div>
