<h4>Antoine Equation</h4>
<div>
  <p>
    The Antoine Equation will have brief description which will go here. Eventually! But the formula for the equation is:
    $$\log_{10} (P) = A - \frac{B}{T+C}$$
  </p>
  <p>
    {{antoineMessage}}
  </p>
</div>
<div>
  <hr>
  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="antoineDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{currentHydrocarbon.name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="antoineDropdown">
      <li class="dropdown-header" ng-repeat="hydrocarbon in hydrocarbons"><a ng-click="selectHydrocarbon(hydrocarbon)">{{hydrocarbon.name}}</a></li>
    </ul>
  </div>
  <form name="inputForm">
    <ul class="list-group">
      <li class="list-group-item"><label>A</label> {{currentHydrocarbon.A}}</li>
      <li class="list-group-item"><label>B</label> {{currentHydrocarbon.B}}</li>
      <li class="list-group-item"><label>C</label> {{currentHydrocarbon.C}}</li>
    </ul>
    <div>Enter value between {{currentHydrocarbon.minTemp}} and {{currentHydrocarbon.maxTemp}} degrees Kelvin</div>
    <div class="input-group">
      <!--379. - 573.	-->
      <span class="input-group-addon">T (Kelvin)</span>
      <input type="number" class="form-control" ng-model="antoineForm.inputT" placeholder="T" min="{{currentHydrocarbon.minTemp}}" max="{{currentHydrocarbon.maxTemp}}" required/>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" ng-click="submitAntoine()" ng-disabled="inputForm.$invalid">Calculate</button>
      <button type="button" class="btn btn-default" ng-click="resetInputs()">Clear</button>
    </div>
    <div ng-show="showResult">
      P = {{outputP}}
    </div>
  </form>
</div>
