<h4>Antoine Equation</h4>
<div>
  <p>
    The Antoine Equation will have brief description which will go here. Eventually! But the formula for the equation is:
    $$\log_{10} (P) = A - \frac{B}{T+C}$$
  </p>
  <p>
    {{antoineMessage}}
  </p>
</div>
<div>
  <div class="input-group">
    <span class="input-group-addon">A</span>
    <input type="text" class="form-control" ng-model="inputA">
  </div>
  <div class="input-group">
    <span class="input-group-addon">B</span>
    <input type="text" class="form-control" ng-model="inputB">
  </div>
  <div class="input-group">
    <span class="input-group-addon">C</span>
    <input type="text" class="form-control" ng-model="inputC">
  </div>
  <div class="input-group">
    <span class="input-group-addon">T</span>
    <input type="text" class="form-control" ng-model="inputT">
  </div>
</div>
